html {
  background-color: transparent;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;

  min-width: min-content;
  min-height: min-content;

  width: min-content;
  height: min-content;

  flow: horizontal;
  
  border-spacing: 4dip;
}
